.form-field {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

.form-field label {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}

.form-field input {
    width: 300px;
    height: 40px;
    border: 1px solid #D0D5DD;
    border-radius: 4px;
    padding: 10px;
    font-size: 18px;
}

.button-style-one {
    width: 180px;
    height: 43px;
    border-radius: 4px;
    background:  #fff;
    font-size: 16px;
    font-weight: 400px;
    color: #0D9B48;
    border: 1px solid #0D9B48;
    margin: 20px;
    cursor: pointer;
}

.button-style-two {
    width: 180px;
    height: 43px;
    border-radius: 4px;
    background:  #0D9B48;
    font-size: 16px;
    font-weight: 400px;
    color: #fff;
    border: none;
    margin: 20px;
    cursor: pointer;
}

.button-style-three {
    width: 180px;
    height: 43px;
    border-radius: 4px;
    background:  #0D9B48;
    font-size: 16px;
    font-weight: 400px;
    color: #fff;
    border: none;
    margin: 20px;
    cursor: pointer;
    opacity: 0.6;
}